/* 🌙 डार्क मोड (Night Mode) */

 :root {
  --bg-main: #050816;
  --bg-navbar: #070b1a;
  --bg-card: #101528;
  --panel-bg: #0b1020;      
  --element-bg: #141a2e;    
  --border-color: #252b44;
  --border-navbar: #1c2238;
  --panel-border: #1d2338;  
  --element-border: #232944;
  --text-primary: white;
  --text-secondary: #c5c8d4;
  --text-muted: #8b90a7;
}

/* ☀️ लाइट मोड (Day Mode) */
[data-theme="light"] {
  --bg-main: #f3f4f6;
  --bg-navbar: #ffffff;
  --bg-card: #ffffff;
  --panel-bg: #ffffff;
  --element-bg: #f3f4f6;
  --border-color: #e2e8f0;
  --border-navbar: #e2e8f0;
  --panel-border: #cbd5e1;
  --element-border: #e2e8f0;
  --text-primary: #1e293b;
  --text-secondary: #475569;
  --text-muted: #64748b;
}

